

  <div class= "newform-title" style="text-align: center">
    <h1><strong>Edite sua banca</strong></h1>
  </div>
    <%= render "shared/form" %>



<style>
 body {
background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1567539549213-cc1697632146?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80");
}
</style>


