
<body class="edit-banca">

  <div class= "newform-title" style="text-align: center">
    <h1><strong>Edite sua banca</strong></h1>
  </div>

  <div class="container-form">
    <div class="shop-form row justify-content-center">
    <%= render "shared/form" %>
   </div>
  </div>
</body>
