


<div class="banner-div">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1488459716781-31db52582fe9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
    <div class="container">
      <h1><strong>Minha feira</strong></h1>
      <p>Trazendo toda a saúde da sua feira para a sua casa.</p>
      <%= render "shared/form" %>
    </div>

  </div>
</div>
