// Specific CSS for your home-page
.cards{
  color:blue;

}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.addshop{
  justify-content:center;
  margin: 8px;
}

.btn-outline-success{
  border-radius: 8px;
}
