.btn-add-shop{
  background-color:$green-feira;
  color:white;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 16px;
}

.btn-add-shop .link_to{
  text-decoration: none;
}


.btn-see-more{
  background-color:$green-feira;
  width:100px;
  border-radius: 4px;
  margin-left: 60px;
}


.btn-add-shop2 {
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 100% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  margin-top: 6px;
  margin-inline-end: 7px;
  padding: 4px;
 }

.btn-add-shop2:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-add-shop2 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}


