.cards{
  display:flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 8px;
  flex-wrap: wrap;
  justify-content: start;
}

.card{
 margin: 4px 8px;
 background-color: $light-gray;
 width: 290px;
 border-color: $green-feira;
 border-radius: 4px;
 justify-items: center;
 display: flex;
 box-shadow: 0.8px 0.8px 15px rgba(100,100,100,0.2);
}

.card.product{
  width: 485px;
  height: 150px;
}

.card:hover{
  background-color: $green-feira;
  opacity: 0.8;
}

.card-body{
  display:grid;
  background-color:transparent;
  justify-content: center;
  text-align: center;
}

.card-body a {
  text-decoration: none;
  background-color: #ACD573;
  padding: 5px;
  border-radius: 8px;

}

.card-body a:hover {
  font-weight:bold;
}

.card-description{
margin-block-start: 28px;
margin-left: -22px;
}

.card-text-address{
  font-size: 12px;
  text-align: left;
}


.card-body img {
  border-radius: 4px;
}

.card-buttons {
  height: 80%;
}

.btn.btn-danger {
    color: #fff;
    background-color: #87BD39;
    border-color: #87BD39;
    margin-top: 6px;
  }

// .card-category {
//   background-size: cover;
//   background-position: center;
//   background-color: transparent;
//   height: 200px;
//   width: auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 4px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   margin: 20px;
// }


// .card-category h3{
//   color:white;
//   font-size: 20px;
//   background-size: cover;
//   text-align: center;
// }






// .cards {
//   display: grid;
//   justify-items: center;
//   grid-template-columns: repeat(1, 1fr);
//   grid-template-rows: 70px 0px;
//   grid-gap: 3px;
//   justify-items: center;
//   background-color: rgb(250,250,250);
//   width: 320px;
//   height: 400px;
//   box-shadow: 0.8px 0.8px 15px rgba(150,150,150,0.2);
//   padding: 12px;
//   margin: 24px;
//   border-radius: 4px;
//   p {
//     color: black;

//   }
// }
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
