.page-footer {
    bottom: 0;
    left: 0;
    height: 0px;
    width: 100%;
    padding: 40px;
    background-image: linear-gradient(315deg, #a8dadc 51%, #a1c4fd 100%);
    font-color: white;
}

.page-footer p {
  color: white;
}
