.new-form {
  margin-top: 45px;
}

.group {
  border: none;
  input {
    border: none;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    padding: 25px 15px;
    color: #636060;
  }
  input:focus {
    background-color: white;
    border: none;
    font-size: 24px;
  }
  label {
    color: #f79320;
    font-weight: bold;
  }
}
.form-new-shop{
  height: 750px;
  border-radius: 4px;
}

.form-control {
    border: none;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    padding: 25px 15px;
    color: #636060;
    width: 100%;
  label {
    color: #f79320;
    font-weight: bold;
  }
}

#query{
  width: 600px;
  border-radius: 2px;
}


.form-control:focus {
  background-color: white;
  border: none;
  box-shadow: 0 4px 2px -2px gray;
  font-size: 24px;
}

.form-group {
  legend {
    color: #f79320;
    font-weight: bold;
  }

}
.file label {
    color: #f79320;
    font-weight: bold;
  }

.form-check {
  label {
    color: #545454;
  }
}

.btn {
  color: white;
  border-radius: 6px;
  margin-top: 15px;
}

.btn input:hover {
  color: white;
}

.container.form-new-shop {
  width: 100vh;
  margin-bottom: 3em;
}

.container-form{
    -webkit-margin-before: 2em;
    margin-block-start: 2em;
    width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.newform-title {
  margin-top: 7em;
}

.newform-title h1 {
  font-family: 'Dancing Script', cursive;
  color: white;
  text-shadow: 2px 2px 8px black;
  font-size: 60px;
}

.new-banca {
background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1546548970-71785318a17b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1560&q=80");
}


.group input {
  border: none;
  overflow: hidden;
  background-color: #F2F2F2;
  padding: 25px 15px;
  color: #636060;
  border-radius: 1px;
}


.new-product {
 background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1569976711256-bdfd440863c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1912&q=80");
}

.edit-product {
 background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1560717789-0ac7c58ac90a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

// FORMS SET UP GENERAL

.container-form {
    width: 40%;
    margin-bottom: 3em;
    -webkit-margin-before: 2em;
    margin-block-start: 2em;
     background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.form-title {
  margin-top: 7em;
}

.form-title h1 {
  font-family: 'Dancing Script', cursive;
  color: white;
  text-shadow: 2px 2px 8px black;
  font-size: 60px;
}

.simple_form.edit_user{
      width: 40%;
    margin-bottom: 3em;
    -webkit-margin-before: 2em;
    margin-block-start: 2em;
     background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.simple_form.edit_user a {
  color: #7CBB59;
}

.edit-user{
  background-color: #7CBB59;
}
