.navbar-lewagon {
  justify-content: space-between;
  margin-bottom: -16px;
  background-color: white;
  transition: 0.3s background-color ease;
}

.navbar-lewagon-green{
 background-color: $green-feira;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-lewagon .navbar-brand img {
    width: 40px;
    border-radius: 13px;
}

