$main-color: $green-feira;
$light-text: #ABB0BE;

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

// *, *:before, *:after {
//   box-sizing: border-box;
// }

// body {
//   font: 14px/22px "Lato", Arial, sans-serif;
//   background: #6394F8;
// }

.lighter-text {
  color: #ABB0BE;
}

.main-color-text {
  color: $main-color;
}


.badge {
    background-color: $green-feira;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.container-cart{
  margin: 0 auto;
  margin-block-start: 2em;
  width: 30%;
  // background-color: white;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shopping-cart {
  margin-top: 120px;
  // float: right;
  background: white;
  width: 400px;
  // position: relative;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 8px 8px 10px rgb(200,200,200);


  .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;

    .shopping-cart-total {
      float: right;
    }
  }

  .shopping-cart-items {

    padding-top: 20px;

      li {
        margin-bottom: 18px;
      }

    img {
      float: left;
      margin-right: 12px;
    }

    .item-name {
      display: block;
      padding-top: 10px;
      font-size: 16px;
    }

    .item-price {
      color: $main-color;
      margin-right: 8px;
    }

    .item-quantity {
      color: $light-text;
    }
  }

}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: $green-feira;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: $main-color;
  color:white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;

  &:hover {
    background: lighten($main-color, 3%);
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.btn-cart {
  display: grid;
  justify-content: right;
  margin: 0;
  .btn-see-more{
  background-color:$green-feira;
  width:100%;
  padding: 2px;
  border-radius: 4px;
  margin-left: 0px;
}

}

