<p>Olã <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos entrando em contato para avisar que o seu e-mail foi modificado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos entrando em contato para avisar que o seu e-mail foi modificado para <%= @resource.email %>.</p>
<% end %>
