<p>Olá <%= @resource.email %>!</p>

<p>Alguém pediu a mudança da sua senha. Se for você, basta clicar no link abaixo para fazê-lo.</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez esse pedido, por favor ignore.</p>
<p>Sua senha não será modificada até que você acesse o link acima e crie uma.</p>
