<p>Olá <%= @resource.email %>!</p>

<p>YSua conta foi bloqueda por excesso de tentativas com senha errada.</p>

<p>Clique no link abaixo para desbloqueá-la novamente:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
